{% extends 'layout.html' %} 

{% block title %}<title>Лайфхаки в Україні</title>{% endblock %} 

{% block metatags %}
    <meta name="description" content="Лайфхаки" />
    <link rel="canonical" href="https://lifehacks.in.ua/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Лайфхаки" />
    <meta property="og:description" content="Лайфхаки в Україні" />
    <meta property="og:url" content="https://lifehacks.in.ua/" />
    <meta property="og:image" content="https://lifehacks.in.ua/static/img/image.png" />
{% endblock %}

{% block content %}
<section>
  <h1>Лайфхаки в Україні</h1>  
  {% for category in categories %}
    {% if category.posts.count != 0 %}
    <a href="/posts/?category={{ category.slug }}">
      <h2>{{ category.description }}</h2>
    </a>
    <div class="row mb-3 mt-3 gap-3">
    {% for post in category.posts.all|slice:":4" %}
      <div class="card" style="width: 18rem;">
        <a href="/posts/{{ post.slug }}">
          <img src="{% if category.image %}/media/{{ category.image }}{% else %}/static/img/image.jpg{% endif %}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
          <h3 class="card-text">{{ post.title }}</h3>
        </div>
      </div>
    {% endfor %}
    </div>
    {% endif %}
  {% endfor %}
  
</section>
{% endblock %}
