{% extends 'layout.html' %} 

{% block title %}<title>ITshnyk</title>{% endblock %} 

{% block metatags %}
    <meta name="description" content="Лайфхаки" />
    <link rel="canonical" href="https://lifehacks.in.ua/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Лайфхаки" />
    <meta property="og:description" content="Лайфхаки" />
    <meta property="og:url" content="https://lifehacks.in.ua/" />
    <meta property="og:image" content="https://lifehacks.in.ua/static/img/image.png" />
{% endblock %}

{% block content %}
<section>
  <p>
    Лайфхаки
  </p>
</section>
{% endblock %}
