{% extends "layout.html" %}

{% block title %}<title>Пошук по сайту</title>{% endblock %}

{% block metatags %}  	
    <meta name="description" content="Пошук по сайту" />
    <link rel="canonical" href="https://itshnyk.in.ua/search" />
    <meta property="og:type" content="website"/>    
    <meta property="og:title" content="Пошук по сайту">    
    <meta property="og:description" content="Пошук по сайту">   
    <meta property="og:url" content="https://itshnyk.in.ua/search" />
    <meta property="og:image" content="https://itshnyk.in.ua/static/img/image.png" />
{% endblock %}

{% block content %}

<div class="work-info container">		
	<div class="article">
		<h1>Пошук по сайту</h1>
		<div class="article-content">
            <script async src="https://cse.google.com/cse.js?cx=1252b10a13e3cb2be"></script>
            <div class="gcse-search"></div>
            <!-- <script async src='https://cse.google.com/cse.js?cx=partner-pub-7051595554377741:5401594558'></script> -->
            <!-- <div class="gcse-searchbox-only"></div> -->
            <!-- <div class="gcse-searchresults-only"></div> -->
		</div>

	</div>		
</div>
{% endblock %}