.posts-card-body {
  display: flex;
}

.thum-img {
  width: 200px;
  aspect-ratio: 4/3;
  object-fit: cover;
  object-position: center;
}

@media only screen and (max-width: 768px) {
  .thum-img {
    width: 100%;
    aspect-ratio: 16/9;
  }
}
