name: Django Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            set -e
            APP_DIR="/www/wwwroot/lifehacks-django"
            if [ ! -d "$APP_DIR/.git" ]; then
              git clone git@github.com:luzhnyak/lifehacks-django.git $APP_DIR
            fi
            cd $APP_DIR
            git pull origin main
         
         


